*.class
*.DS_store
.classpath
.project
.metadata
.settings
.settings/*
bin
/target
*/target/*
*.log
.idea/*
*.iml
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup
kumo-core/output/FailedRotateWordTest_*
