*.class
*.DS_store
.classpath
.project
.metadata
.settings
.settings/*
bin
/target
*/target/*
kumo-core/output_test/*png
kumo-core/output_test/*jpg
kumo-core/output_test/*jpeg
kumo-core/output_test/*gif
kumo-core/output_test/*bmp
*.log
*.log.gz
.idea/*
*.iml
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup
kumo-core/output/FailedRotateWordTest_*
